<h2 mat-dialog-title>Book Vehicle</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="range">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date" />
        <input matEndDate formControlName="end" placeholder="End date" />
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>

      @if (range.controls.start.hasError("required") && range.controls.start.touched) {
        <mat-error>Start date is required</mat-error>
      }
      @if (range.controls.end.hasError("required") && range.controls.end.touched) {
        <mat-error>End date is required</mat-error>
      }
      @if (range.controls.start.hasError("matStartDateInvalid")) {
        <mat-error>Invalid start date</mat-error>
      }
      @if (range.controls.end.hasError("matEndDateInvalid")) {
        <mat-error>Invalid end date</mat-error>
      }
    </mat-form-field>
  </form>
  
  <p class="info-text">
    Please select the date range for which you want to rent this vehicle.
    Note that the vehicle will be available from 9 AM on the start date until 5 PM on the end date.
  </p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button class="custom-button" mat-dialog-close>Cancel</button>
  <button mat-button class="custom-button" [disabled]="range.invalid" (click)="book()">
    Book
  </button>
</mat-dialog-actions>