<div class="vehicle-list-container">
  <div class="vehicle-list-overlay">
    <h2>Available Vehicles</h2>

    <div class="vehicle-grid">
      <mat-card *ngFor="let vehicle of vehicles">
        <img mat-card-image [src]="vehicle.image" alt="{{ vehicle.model }}" />

        <mat-card-title>{{ vehicle.model }}</mat-card-title>

        <mat-card-content>
          <p>{{ vehicle.description }}</p>
          <p>
            <strong>${{ vehicle.pricePerDay }}/day</strong>
          </p>
        </mat-card-content>

        <mat-card-actions>
          <button mat-button class="custom-button">Rent Now</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
