<div class="landing-container">
  <div class="overlay">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <input
          id="username"
          type="text"
          class="form-control"
          formControlName="username"
          placeholder="Username"
        />

        @if (f["username"].touched && f["username"].invalid) {
          <div class="text-danger">
            @if (f["username"].errors && f["username"].errors["required"]) {
              <small>Username is required.</small>
            }
          </div>
        }
      </div>

      <div class="mb-3">
        <input
          id="password"
          type="password"
          class="form-control"
          placeholder="Password"
          formControlName="password"
        />

        @if (f["password"].touched && f["password"].invalid) {
          <div class="text-danger">
            @if (f["password"].errors && f["password"].errors["required"]) {
              <small>Password is required.</small>
            }
            @if (f["password"].errors && f["password"].errors["minlength"]) {
              <small>Min 6 characters.</small>
            }
          </div>
        }
      </div>

      <button type="submit" mat-button class="custom-submit-button">
        @if (!loading) {
          Login
        } @else {
          Logging in...
        }
      </button>

      @if (errorMessage) {
        <div class="text-danger mt-3">
          {{ errorMessage }}
        </div>
      }
    </form>

    <div class="signup">
      <p>Not registered yet ?</p>
      <a routerLink="/signup">Sign up</a>
    </div>
  </div>
</div>